@tailwind base;
@tailwind components;
@tailwind utilities;
.input{
  outline:none;
  background-color: none;
  resize: none;
}
.triangle{
  width: 0;
  height: 0;
  border-top: 7px solid rgb(49, 49, 49);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* .message {
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
}

.message__content {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 6px;
} */




